<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Title Here</title>
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    <!-- <link href="https://unpkg.com/bonsai.css@latest/dist/bonsai.min.css" rel="stylesheet"> -->
    <link href="https://cdn.jsdelivr.net/npm/skeleton-css@2.0.4/css/skeleton.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="container">
        <div class="title">
            App
        </div>
        <nav class="fixed bottom-0 w-full bg-gray-800 text-white flex justify-around">
          <a href="/" class="p-4">Home</a>
          <a href="/about" class="p-4">About</a>
          <a href="/logout" class="p-4">Logout</a>
        </nav>

        <!-- Your content goes here -->

        <div id="content">
            {{- if .message }} {{ .message }} {{ end -}}
        {{ block "content" . }} {{ end }}
        </div>
    </div>
</body>

</html>
